<div class="section dark">
    <div class="container">
        <img src="{{ "/assets/images/logo_dark.png" | relative_url }}">
        <h5 class="section-heading">Get in touch.</h5>
        <div class="social">
            <a href="https://www.instagram.com/diisshhaashh/"><i class="fab fa-instagram"></i></a>
            <a href="https://www.facebook.com/dis.patel1"><i class="fab fa-facebook-square"></i></a>
            <a href="mailto:dishap71@gmail.com"><i class="fas fa-paper-plane"></i></a>
        </div>
        <p class="credit">made with <i class="fas fa-heart"></i> by Saumil Shah.</p>
    </div>
</div>