<div class="section footer dark">
    <div class="container">
        <img src="{{ "/assets/images/logo_dark.png" | relative_url }}">
        <p class="section-description">Get in touch.</p>
        <div class="social">
            <a href="https://www.instagram.com/diisshhaashh/"><i class="fab fa-instagram"></i></a>
            <a href="mailto:dishap71@gmail.com"><i class="fas fa-paper-plane"></i></a>
        </div>
        <p class="credit">made with <i class="fas fa-heart"></i> by Saumil Shah.</p>
    </div>
</div>
<script type="text/javascript">
window.onscroll = function() {myFunction()};

var navbar = document.getElementById("navbar");
var brand = document.getElementById("brand")
var sticky = navbar.offsetTop + 130; // find y-pos of the navbar + margin to avoid jump

function myFunction() {
  if (window.pageYOffset >= sticky) {
    navbar.classList.add("sticky")
    brand.classList.remove("hide")
  } else {
    navbar.classList.remove("sticky");
    brand.classList.add("hide")
  }
}
</script>

  <script type="text/javascript">
// Initialize library
lozad('.lozad', {
    load: function(el) {
        el.src = el.dataset.src;
        el.onload = function() {
            el.classList.add('fade')
        }
    }
}).observe()
    // Initialize library to lazy load images
    var observer = lozad('.lozad', {
        threshold: 0.1,
        load: function(el) {
            el.src = el.getAttribute("data-src");
            el.onload = function() {
                el.classList.add('fade')
            }
        }
    })

    // Picture observer
    // with default `load` method
    var pictureObserver = lozad('.lozad-picture', {
        threshold: 0.1
    })

    observer.observe()
    pictureObserver.observe()
  </script>
