<div class="section header">
	<div class="container">
		<img src="{{ "/assets/img/logo.svg" | relative_url }}">
		<h3 class="section-heading">{{ page.title }}</h3>
		<p class="section-description">
			{{ page.description }}
		</p>
		<div id="navbar-wrapper">
			<div id="navbar" class="close">
				<a onclick="menuExpand()"><img id="brand" class="hide" src="{{ "/assets/img/logo.svg" | relative_url }}"></a>
				{% assign mypages = site.pages | where: "type", "parent" | sort: "order" %}
				{% for page in mypages %}
				<a class="button" href="{{ page.url | relative_url }}">{{ page.title }}</a>
				{% endfor %}
			</div>
		</div>
	</div>
</div>